hr {
    margin: 0;
    height: 1px;
    background: var(--on-background-1);
    color: var(--on-background-1);
}

body {
    background-color: var(--background)
}

button {
    border: none;
    border-top: 2px solid var(--on-primary);
    border-bottom: 2px solid var(--on-primary);

    padding: 14px 0;

    background: transparent;
    cursor: pointer;

    transition: all .2s ease-in;
}

button:hover {
    letter-spacing: 2.5px;

    padding: 14px 10px;

    transition: all .2s ease-in;
}

.header__span {
    padding-bottom: 7px;

    color: var(--on-primary);
    border-bottom: 1px solid var(--on-primary);
}

.footer__span {
    color: var(--on-primary);

    transition: all .1s linear;
}

.wrapper {
    background-repeat: no-repeat;
    background-size: cover;
}

._container {
    margin: 0 auto;
    max-width: 1560px;
    padding: 0 20px;
    box-sizing: content-box;
}

/*======================================
                                    WORK
======================================*/

.header__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 40px;
}

.header__left a:not(:last-child) {
    margin-right: 100px;
}

.header__right a:not(:last-child) {
    margin-right: 100px;
}

.header__left a {
    color: var(--on-primary-60);
    text-decoration: none;
}

.header__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
}

.header__right a {
    color: var(--on-primary-60);
    text-decoration: none;
}

.header__container ._link {
    transition: all .2s linear;
}

.header__container ._link:hover {
    padding-bottom: 7px;

    color: var(--on-primary);

    transition: all .1s linear;
}


/*======================================
                                  HEADER
======================================*/

footer {
    background-color: var(--primary);
}

.footer__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 60px 0;
}

.footer__menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    flex-direction: column;
}

.footer__menu__top {
    display: flex;
}

.footer__menu__top a {
    color: var(--on-primary-60);

    transition: all .1s linear;
}

.footer__menu__top a:hover {
    color: var(--on-primary);

    transition: all .1s linear;
}

.footer__menu__top a:not(:last-child) {
    margin-right: 70px;
}

.footer__hl {
    border: 1px solid var(--on-primary-60);

    margin: 20px 0;
    max-width: 521px;
    width: 100% !important;
}

.footer__menu__bottom {
    display: flex;
    justify-content: space-between;
}

.footer__menu__bottom p,
a {
    color: var(--on-primary);
}

.insta {
    fill: var(--on-primary-60);
    width: 30px; 
    height: 40px; 

    transition: all .1s linear;
}

.insta:hover {
    fill: var(--on-primary);

    transition: all .1s linear;
}

/*======================================
                                  FOOTER
======================================*/

._title-left ._title::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 2px;

    background-color: var(--on-background-1);
    position: relative;

    margin-left: -100%;
    left: -25px;
}

._title-right ._title::after {
    content: "";
    display: inline-flex;
    vertical-align: middle;
    max-width: 152px;
    width: 100%;
    height: 2px;

    background-color: var(--on-background-1);
    position: relative;

    margin-right: -100%;
    right: -25px;
}

._title-right {
    align-self: flex-end;
}

/*======================================
                                   LINES
======================================*/

._swiper {
    position: relative;
    max-width: 100%;
    border-top: 2px solid var(--primary);

    height: 100vh;
}

._swiper-slide img {
    display: block;
    max-width: 100%;
    width: 100%;
}

._swiper-button-prev,
._swiper-button-next {
    position: absolute;
    width: 160px;
    height: 100%;
    background-color: var(--background-50);
    transition: all .1s linear;
}

._swiper-button-next {
    right: 0;
}

._swiper-button-prev::after,
._swiper-button-next::after {
    color: var(--primary);
}

._swiper-button-prev:hover,
._swiper-button-next:hover {
    transition: all .1s linear;
    background-color: var(--background);
}

._swiper-slide {
    opacity: 20%;
    transition: all .1s linear;

    max-width: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-slide-active {
    opacity: 100%;
    transition: all .1s linear;
}

/*======================================
                                  SWIPER
======================================*/

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(165, 165, 165);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primary);
}

/*======================================
                               SCROLLBAR
======================================*/