.wrapper {
    background-image: url(../img/events/events__background.jpg);
}

/*======================================
                                    WORK
======================================*/

.main-block__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    border-top: 1px solid var(--on-primary);
    border-bottom: 1px solid var(--on-primary);

    backdrop-filter: blur(10px);

    margin-top: 230px;
    margin-bottom: 185px;
}

.main-block__wrapper h1 {
    color: var(--on-primary);
    text-transform: uppercase;
    padding: 70px 0;
}

.main-block__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-block__bottom p {
    color: var(--on-primary);
    text-transform: uppercase;
}

.vl {
    border-left: 1px solid var(--on-primary);
    height: 120px;
    left: 50%;
    top: 0;

    margin-top: 30px;
}

/*======================================
                              MAIN-BLOCK
======================================*/

.events__container {
   display: flex;
   flex-direction: column;
    
    margin-top: 80px;
    margin-bottom: 75px;
}

.events__wrapper-1 {
    background-image: url(../img/events/events-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.events__wrapper-2 {
    background-image: url(../img/events/events-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.events__wrapper__content {
    background-color: var(--background-50);
    backdrop-filter: blur(10px);

    padding: 190px 0;

    max-width: 50%;
}

.events__wrapper__content p {
    margin: 0 140px;
    max-width: 680px;
}

/*======================================
                                  EVENTS
======================================*/