:root {
    /* Colors */
    --background: #FFFDEF;
    --primary: #535E43;
    --on-primary: #FFFFFF;
    --on-primary-60: rgba(255, 255, 255, 60%);
    --on-background-1: #606C38;
    --on-background-2: #000000;
    --background-50: #FFFDEF80;

    /* Fonts */
    --h1: 400 96px 'Custodia Deco';
    --title: 400 48px 'Custodia Deco';
    --sub-title: 400 16px 'Montserrat', sans-serif;
    --link: 400 16px 'Montserrat', sans-serif;
    --button: 400 18px 'Montserrat', sans-serif;
    --main: 400 16px 'Montserrat', sans-serif;
}