.wrapper {
    background-image: url(../img/gallery/gallery__background.jpg);
}

/*======================================
                                    WORK
======================================*/

.main-block__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    border-top: 1px solid var(--on-primary);
    border-bottom: 1px solid var(--on-primary);

    backdrop-filter: blur(10px);

    margin-top: 230px;
    margin-bottom: 185px;
}

.main-block__wrapper h1 {
    color: var(--on-primary);
    text-transform: uppercase;
    padding: 70px 0;
}

.main-block__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-block__bottom p {
    color: var(--on-primary);
    text-transform: uppercase;
}

.vl {
    border-left: 1px solid var(--on-primary);
    height: 120px;
    left: 50%;
    top: 0;

    margin-top: 30px;
}

/*======================================
                              MAIN-BLOCK
======================================*/