._hl {
    border-top: 1px solid var(--on-primary);
    width: 285px;
}

.wrapper {
    background-image: url(../img/index/index__background.jpg);
}

/*======================================
                                    WORK
======================================*/

.header__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 40px;
}

.header__left a:not(:last-child) {
    margin-right: 100px;
}

.header__right a:not(:last-child) {
    margin-right: 100px;
}

.header__left a {
    color: var(--on-primary-60);
    text-decoration: none;
}

.header__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
}

.header__right a {
    color: var(--on-primary-60);
    text-decoration: none;
}

.header__container ._link {
    transition: all .2s linear;
}

.header__container ._link:hover {
    padding-bottom: 7px;

    color: var(--on-primary);
    border-bottom: 1px solid var(--on-primary);

    transition: all .1s linear;
}

/*======================================
                                  HEADER
======================================*/

.main-block__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 40px;
}

.main-block__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    backdrop-filter: blur(10px);

    border: 1px solid var(--on-primary);
    max-width: 815px;

    padding: 141px 220px 118px 220px;

    color: var(--on-primary);
}

.main-block__box p {
    text-transform: uppercase;
    margin-bottom: 10px;
}

.main-block__box h1 {
    text-transform: uppercase;
}

.vl {
    border-left: 1px solid var(--on-primary);
    height: 40px;
    left: 50%;
    top: 0;

    margin-top: 25px;
    margin-bottom: 45px;
}

.main-block__container button {
    color: var(--on-primary);
}

.main-block__under-box {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 832px;
    width: 100%;

    margin-top: 82px;
    margin-bottom: 84px;
}

.main-block__under-box p {
    text-transform: uppercase;
    color: var(--on-primary);
}
/*======================================
                              MAIN-BLOCK
======================================*/

.works__container {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 80px;
}

.works__content {
    display: flex;
    justify-content: space-between;
    position: relative;

    margin-top: 63px;
    margin-bottom: 68px;
}

._content__item {
    width: 500px;
    height: 570px;
}

._content__item img {
    margin-top: 33px;
    margin-left: 30px;
}

.content__item-1 {
    background-image: url(../img/works/works-1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.content__item-2 {
    background-image: url(../img/works/works-2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.content__item-3 {
    background-image: url(../img/works/works-3.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.works__button {
    align-self: flex-end;

    border-top: 2px solid var(--on-background-1);
    border-bottom: 2px solid var(--on-background-1);

    color: var(--on-background-2);
}

/*======================================
                                   WORKS
======================================*/

.delivery__container {
    display: flex;
    flex-direction: column;

    margin-top: 80px;
    margin-bottom: 80px;
}

.delivery__title {
    align-self: flex-end;
}

.delivery__wrapper {
    background-image: url(../img/index/delivery__background.jpg);
    padding: 83px 0;
    background-repeat: no-repeat;
    background-size: cover;

    margin-top: 63px;
    margin-bottom: 65px;
}

.delivery__content {
    display: flex;
    justify-content: center;

    margin-top: 85px;
    margin-bottom: 85px;
}

.delivery__content__box {
    display: flex;
    justify-content: space-between;

    background-color: var(--background-50);
    backdrop-filter: blur(10px);

    border: 1px solid black;
    padding: 140px;
}

.delivery__content__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.delivery__content__item:not(:last-child) {
    margin-right: 200px;
}

.delivery__content__item h3 {
    margin-bottom: 20px;
    color: var(--on-background-1);
}

.delivery__content__item p {
    text-transform: uppercase;
    color: var(--on-background-2);
}

.delivery__button {
    align-self: flex-start;

    border-top: 2px solid var(--on-background-1);
    border-bottom: 2px solid var(--on-background-1);

    color: var(--on-background-2);
}

/*======================================
                                DELIVERY
======================================*/

/*======================================
                                  FOOTER
======================================*/