._h1 {
    font: var(--h1);
    letter-spacing: 0.15em;
}

._title {
    font: var(--title);
    letter-spacing: 0.15em;
}

._sub-title {
    font: var(--sub-title);
    line-height: 150%;
    letter-spacing: 0.3em;
}

._link {
    font: var(--link);
    letter-spacing: 0.03em;
}

._button {
    font: var(--button);
    letter-spacing: 0.03em;
}

._main {
    font: var(--main);
    letter-spacing: 0.03em;
}